<%=link_to "Home", controller: "add_append", action: "home"%>
<h1>Secure Add</h1>
<h3>Anthing you input here will be added to the the numbers that you previously input here till now. </h3>
 
<form action = "view_added"  method="get">
  input: <input type="number" name="input"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>

<%= link_to "Append_Secure", action: "append" %>